<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['']"></ion-back-button>
    </ion-buttons>
    <ion-title>Work</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content class="card-div">
      <div>
        <img src="../../assets/img2.jpg" alt="">
      </div>
      <div>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

